/* Reset style */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    body {
        --bg-color: #000000;
        --text-color: #ffffff;
    }
}

@media (prefers-color-scheme: light) {
    body {
        --bg-color: #ffffe6;
        --text-color: #000000;
    }
}

/* EX-Small */
@media only screen and (max-width: 600px){
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
    }

    .profile {
        flex-direction: column; /* 將內容改為垂直排列 */
        align-items: center;
    }

    .profile-pic {
        width: 80px; /* 縮小圖片大小 */
        height: auto;
        margin-bottom: 10px;
    }

    .profile-info h1 {
        font-size: 1.2rem; /* 縮小標題文字 */
    }

    .profile-info p {
        font-size: 0.9rem; /* 縮小副標題文字 */
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about h2 {
        margin-left: 20vw;
    }
    .about h3 {
        margin-left: 25vw;
    }
    .about ul {
        margin-left: 25vw;
    }
}

/* Small */
@media only screen and (min-width: 600px){
    .content {
        display: grid;
        grid-template-columns: 1fr 0fr 1fr;
        gap: 20px;
    }
}
/* Medium */
@media only screen and (min-width: 768px){

}

/* Large */
@media only screen and (min-width: 992px){
}

/* EX-Large */
@media only screen and (min-width: 1200px){
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Universal */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

/* head */
.profile {
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    border: 2px solid #fff;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-info h1 {
    font-size: 2em;
    margin-bottom: 0;
}

.role {
    font-size: 0.9em;
    color: #999;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.2em;
    color: #ccc;
}

/* main */
.content {

}

/* left side */
.about {
    grid-column: 1 / 2;
}

.about h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #008b8b;
}

.about ul {
    margin-top: 10px;
    padding-left: 20px;
}

.about li {
    margin-bottom: 5px;
}

/* right side */
.recommendation {
    grid-column: 3 / 4;
    text-align: center;
    /*display: inline-flex;*/
}

.recommendations {
    display: flex;
    justify-content: space-evenly;
}

.recommendation-img {
    max-width: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.recommendation a {
    color: white;
    text-decoration: none;
}
